@page "/"
@rendermode InteractiveServer

@using NumbersToWords.Core

<h3>Number to Words Converter</h3>

<div class="mb-3">
    <input value="@numberInput" @oninput="OnInputChanged" class="form-control" placeholder="Enter a number" />
</div>
<button class="btn btn-primary" @onclick="ConvertToWords">Convert</button>

@if (!string.IsNullOrWhiteSpace(result))
{
        <div class="mt-3 alert alert-info">
            <strong>Result:</strong> @result
        </div>
}

@code {
    private string numberInput;
    private string result;

    private void ConvertToWords()
    {
        result = NumberToWordsConverter.Convert(numberInput);
    }

    private void OnInputChanged(ChangeEventArgs e)
    {
        numberInput = e.Value?.ToString() ?? "";
        result = NumberToWordsConverter.Convert(numberInput);
    }
}